.Main_container {
  text-align: center;
}

.Pic_container  {
  display: block;
}

.Form_container {
  margin-bottom: 10px;
}

.Flash {
  background-color: pink;
  text-align: center;
  font-size: 25px;
}